#  Property_2 listings

In [3]:
%matplotlib inline
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### Access For sale in NBO webpage

In [2]:
r = requests.get("https://www.property24.co.ke/houses-for-sale-in-nairobi-c1890")
c = r.content
soup = BeautifulSoup(c, "html.parser")
# check source code of loaded page
# print(soup.prettify())

# # extract division
all = soup.find_all("div",{"class":"sc_listingTile"})
len(all)

21

#### check element

In [3]:
price = all[0].find("div",{"class":"sc_listingTilePrice"}).text.strip()

price

'KSh 85\xa0000\xa0000'

In [4]:
desc = all[4].find("div",{"class":"sc_listingTileTeaser"}).text.strip()
desc

'Located along Getathuru road off Lower kabete In a gated community Seating on almost half an acre land Spacious lounge with a...'

In [5]:
location = all[0].find('div',{'class':'sc_listingTileAddress'}).text
location

'\r\n                Shinyaru Road, Loresho Central, Loresho, Nairobi\r\n            '

In [6]:
size = all[0].find('div',{'class':'sc_listingTileArea'}).text
size

'\r\n                5 Bedroom House for sale in Loresho\r\n            '

## Data Collection 

        - Crawl web pages 
        - Extract selected elements 
        - Colect dict and store in a csv

In [8]:
base_url = "https://www.property24.co.ke/houses-for-sale-in-nairobi-c1890?Page="
data = []
#   crawl though available pages to extract page no. links
for page in range(1,67,1): #66 is the last page
    prop_page = base_url+str(page) #+str("&size=30")
    r = requests.get(prop_page)
    c = r.content
    soup = BeautifulSoup(c, "html.parser")
    all = soup.find_all("div",{"class":"sc_listingTile"})
    # collect price, detail and size from each page
    for item in all:
        d={}
    #  property value
        d["value"] = item.find("div",{"class":"sc_listingTilePrice"}).text.strip()
    #   property description 
        d["desc"] = item.find("div",{"class":"sc_listingTileTeaser"}).text.strip()
    #   property size / bedroom capacity
        try:
             d["size"] = item.find('div',{'class':'sc_listingTileArea'}).text.strip()
        except:
            d["size"] = None
    #   property address
        d["location"] = item.find('div',{'class':'sc_listingTileAddress'}).text.strip()
    
    #   collect data in a list
        data.append(d)
        
    #   store data in a dataframe
        df2 = pd.DataFrame(data)
    #   save to csv
        df2.to_csv("scrapped_data/prop_2.csv")

In [ ]:
df2.head()

In [ ]:
len(df2)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.heatmap(df2.isnull(),yticklabels=False,cbar=False,cmap='viridis')

## EDA

In [ ]:
base_url = "https://www.property24.co.ke/houses-for-sale-in-nairobi-c1890?Page="
data = []
#   crawl though available pages to extract page no. links
for page in range(1,67,1): #66 is the last page
    prop_page = base_url+str(page) #+str("&size=30")
    print(prop_page)

## Clean Up

In [4]:
df2 = pd.read_csv('scrapped_data/raw_unedited/p24_listing.csv',usecols=['desc', 'location', 'size', 'value'])
df2.head()

,desc,location,size,value
0,This is an old but Beautiful 5 Bed Room Reside...,"Shinyaru Road, Loresho Central, Loresho, Nairobi",5 Bedroom House for sale in Loresho,KSh 85 000 000
1,Magnificent. full of beauty,"Runda, Nairobi",5 Bedroom House for sale in Runda,KSh 28 950 000
2,Sitting on half an acre lot lies this iconic 4...,"Karen, Nairobi",4 Bedroom House for sale in Karen,KSh 75 000 000
3,a cosy five bedroom all en suite standalone bu...,"Karen, Nairobi",5 Bedroom House for sale in Karen,KSh 55 000 000
4,Located along Getathuru road off Lower kabete ...,"OFF LOWER KABETE, Westlands, Nairobi",5 Bedroom House for sale in Westlands,KSh 110 000 000

In [6]:
# Save value as Numeric in Ksh
df2['value'] = df2['value'].str.replace("POA|KSh| ","")

# Size to no of Bedrooms
df2['size'] = df2['size'].str.split(' ').str[0]

df2.head()

,desc,location,size,value
0,This is an old but Beautiful 5 Bed Room Reside...,"Shinyaru Road, Loresho Central, Loresho, Nairobi",5,85 000 000
1,Magnificent. full of beauty,"Runda, Nairobi",5,28 950 000
2,Sitting on half an acre lot lies this iconic 4...,"Karen, Nairobi",4,75 000 000
3,a cosy five bedroom all en suite standalone bu...,"Karen, Nairobi",5,55 000 000
4,Located along Getathuru road off Lower kabete ...,"OFF LOWER KABETE, Westlands, Nairobi",5,110 000 000

In [13]:
df2.to_csv('scrapped_data/prop_2.csv')