#  Property_3 listings

In [1]:
%matplotlib inline
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### Access houses for sale in NBO webpage

In [2]:
r = requests.get("https://www.buyrentkenya.com/houses-for-sale")
c = r.content
soup = BeautifulSoup(c, "html.parser")
# check source code of loaded page
# print(soup.prettify())

# # extract division
all = soup.find_all("div",{"class":"result-card"})
len(all)

20

#### check element

In [3]:
value = all[0].find("div",{"class":"listing-price"}).text.strip()

value

'KES 70,000,000'

In [4]:
desc = all[0].find("div",{"class":"listing-description"}).text.strip()
desc

'A 5 bedroom, all en-suite country home located in one of the charming and convenient leafy suburbs in Nairobi and within Muhugu Park and Gardens, a place to call home with peace and quiet, tucked away in the lush neighborhood full of trees and the flowing rivers.\nMuhugu Gardens comprises of ten, 5 bedroom beautiful homes and a club house on 5 acres while Muhugu Park shall enjoy twenty, 5 bedroom country homes and a club house on 10 acres. Some of the shared facilities include a gate house, ICT provision, a club house that boasts of an entrance lobby with reception, a lounge and veranda with a juice bar and a fireplace.\nThe homes will boast of a large kitchen with cooking island and pantry, a kitchen yard, a laundry area, a separate cloakroom, a veranda with a BBQ stand, a spacious family room and high quality internal and external finishes.\nContact/message for viewing plus more information on.this home.Thank you.'

In [5]:
location = all[0].find('div',{'class':'full-address'}).text.strip()
location

'Karen, Langata'

In [6]:
size = all[0].find('span',{'class':'teaser'}).text.strip()
size

'5 Bedroom Townhouse'

## Data Collection 

        - Crawl web pages 
        - Extract selected elements 
        - Colect dict and store in a csv

In [8]:
base_url = "https://www.buyrentkenya.com/houses-for-sale?page="
data = []
#   crawl though available pages to extract page no. links
for page in range(1,27,1): #26 is the last page
    prop_page = base_url+str(page) #+str("&size=30")
    r = requests.get(prop_page)
    c = r.content
    soup = BeautifulSoup(c, "html.parser")
    all = soup.find_all("div",{"class":"result-card"})
    # collect price, detail and size from each page
    for item in all:
        d={}
    #  property value
        d["value"] = item.find("div",{"class":"listing-price"}).text.strip()
    #   property description 
        d["desc"] = item.find("div",{"class":"listing-description"}).text.strip()
    #   property size / bedroom capacity
        try:
             d["size"] = item.find('span',{'class':'teaser'}).text.strip()
        except:
            d["size"] = None
    #   property address
        d["location"] = item.find('div',{'class':'full-address'}).text.strip()
    
    #   collect data in a list
        data.append(d)
        
    #   store data in a dataframe
        df3 = pd.DataFrame(data)
    #   save to csv
        df3.to_csv("scrapped_data/prop_3.csv")

In [ ]:
df3.head()

In [ ]:
len(df3)

## EDA

In [ ]:
base_url = "https://www.buyrentkenya.com/houses-for-sale?page="
data = []
#   crawl though available pages to extract page no. links
for page in range(1,27,1): #26 is the last page
    prop_page = base_url+str(page) #+str("&size=30")
    print(prop_page)

## Load Scrapped Data

In [2]:
df2 = pd.read_csv('scrapped_data/prop_2.csv',
                    usecols=['desc', 'location', 'size', 'value'])
df2.head(3)

,desc,location,size,value
0,"A 5 bedroom, all en-suite country home located...","Karen, Langata",5 Bedroom Townhouse,"KES 70,000,000"
1,3 Bedroom Maisonette For Sale-Golf Course Esta...,"Golf Course Estate, Ngumo Estate, Langata",3 Bedroom House,"KES 19,000,000"
2,This beautiful 2 storey house consists of 7 sp...,"Runda, Kiambu",7 Bedroom Townhouse,"KES 120,000,000"

### Data cleanup

In [3]:
# Save value as Numeric in Ksh
df3['value'] = df3['value'].str.replace(",|KES","")
# Size to no of Bedrooms
df3['size'] = prop_2['size'].str.split(' ').str[0]

prop_2.head(3)

,desc,location,size,value
0,"A 5 bedroom, all en-suite country home located...","Karen, Langata",5,70000000
1,3 Bedroom Maisonette For Sale-Golf Course Esta...,"Golf Course Estate, Ngumo Estate, Langata",3,19000000
2,This beautiful 2 storey house consists of 7 sp...,"Runda, Kiambu",7,120000000