In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 


%matplotlib inline

In [16]:
df = pd.read_csv('property_listing',index_col='index')

df.head()

,desc,location,size,value
index,,,,
1,Ambassadorial Palace in Spring Valley,"peponi road, Spring Valley, Nairobi, Nairobi",11.0,280000000.0
2,Spring Valley Ambassadorial Palace,"Spring Valley, Nairobi, Nairobi",11.0,290000000.0
3,10 Bedroom House in Karen- 3KE1375839,"Hardy, Karen, Nairobi, Nairobi",10.0,150000000.0
4,10 Bedroom House For Sale In Karen (Kenya) - 3...,"Karen, Nairobi, Nairobi",10.0,150000000.0
5,10 Bedroom House for sale in Spring Valley,"Spring Valley, Spring Valley, Nairobi, Nairobi",10.0,315000000.0

In [31]:
df_minusNBO = df['location'].str.replace('Nairobi','')
# df_minusNBO.value_counts()

In [34]:
df.to_csv('prop_list.csv')